.login {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 2% 3%;
    width: 40%;
}
.title {
    font-size: calc(6px + 2vmin);
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.button {
    font-size: calc(1.7px + 2vmin);
    background-color: #122d46;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1.4px;
    border-radius: 5px;
    font-weight: 700;
    padding: 11px 0px;
    color: #d0d5db;
    border: none;
    display: flex;
    width: 45%;
    margin: 0 auto;
    margin-top: 30px;
}
.button:hover {
    background-color: transparent;
    border: 1px solid #122d46;
    color: #FFFFFF;
    color: #122d46;
}
